bower_components
node_modules
.sass-cache
.tmp
.DS_Store
.idea
gen/builds/archives
cordova/www/fonts
cordova/www/images
cordova/www/scripts
cordova/www/styles
cordova/www/views
cordova/www/sounds
cordova/platforms/android/ant-*
cordova/platforms/android/assets
cordova/platforms/ios/build
cordova/platforms/ios/www
cordova/platforms/ios/platform_www
