<br />
<br />
<div class="container">
    <div class="container-center">

        <div ng-class="{'panel-form' : true, loading: loading}">

            <h3>Mot de passe oublié</h3>

            <form ng-show="step==1" class="form-horizontal" autocomplete="true" ng-submit="submitLink()">
                <div class="alert alert-info">
                    kinoulink va vous envoyer par eMail un lien pour réinitialiser votre mot de passe.
                </div>
                <div class="__ig">
                    <label>Adresse eMail:</label>
                    <input type="email" name="email" spellcheck="false" ng-model="email" class="form-control" placeholder="Adresse eMail">
                </div>
                <br />
                <div class="row text-center">
                    <button class="btn btn-success" type="submit">Envoyer un eMail</button>
                </div>
            </form>

            <form ng-show="step==2" class="form-horizontal" autocomplete="false" ng-submit="submitPassword()">
                <div ng-show="email_sent" class="alert alert-success">
                    Un eMail avec un code pour confirmer votre adresse eMail vous a été envoyé !
                </div>
                <div class="__ig">
                    <label>Code sécurité:</label>
                    <input type="text" spellcheck="false" ng-model="entry.code" class="form-control">
                </div>
                <div class="__ig">
                    <label>Nouveau mot de passe:</label>
                    <input type="password" spellcheck="false" ng-model="entry.password" class="form-control">
                </div>
                <br />
                <div class="row text-center">
                    <button class="btn btn-success" type="submit">Réinitialiser mon mot de passe</button>
                </div>
            </form>

            <hr />
            <div class="text-center">
                <p>Pas encore de compte kinoulink ?</p>
                <a class="btn btn-default" ng-href="#/register">Inscrivez vous gratuitement</a>
            </div>

        </div>
    </div>
</div>