<div class="container">
	<div class="container-center">

		<div class="panel-form">

			<h3>Se connecter à kinoulink</h3>

			<div class="row">
				<div class="col-xs-6">
					<button title="Se connecter avec Facebook" class="btn btn-block btn-primary btn-facebook" ng-click="openConnect('facebook')"><i class="fa fa-facebook-square"></i> Facebook</button>
				</div>
				<div class="col-xs-6">
					<button title="Se connecter avec LinkedIn" class="btn btn-block btn-primary btn-linkedin" ng-click="openConnect('linkedin')"><i class="fa fa-linkedin-square"></i> LinkedIn</button>
				</div>
			</div>
			<form id="loginForm" class="form-horizontal" action="http://api.kinoulink.fr/redirect" autocomplete="true" ng-submit="doLogin()" onsubmit="return false" method="post">
				<div class="__ig">
					<i class="fa fa-user"></i>
					<input type="email" name="email" spellcheck="false" ng-model="username" class="form-control" ng-focus="onInputFocus()" placeholder="Adresse eMail">
				</div>
				<div class="__ig">
					<i class="fa fa-unlock-alt"></i>
					<input type="password" name="password" ng-model="password" class="form-control" ng-focus="onInputFocus()" placeholder="Mot de passe">
				</div>
				<div class="row text-center">
					<div class="col-sm-6">
						<button class="btn btn-success" type="submit">Se connecter</button>
					</div>
					<div class="col-sm-6">
						<a class="btn btn-link" ng-href="#/forgot-password">Mot de passe oublié ?</a>
					</div>
				</div>
			</form>
			<hr />
			<div class="text-center">
				<p>Pas encore de compte kinoulink ?</p>
				<a class="btn btn-default" ng-href="#/register">Inscrivez vous gratuitement</a>
			</div>

		</div>
	</div>
</div>