<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".svg" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".otf" mimeType="font/opentype" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="Server" />
				<remove name="Set-Cookie" />
				<add name="Access-Control-Allow-Origin" value="http://my.kinoulink.fr/" />
				<add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
				<add name="Arr-Disable-Session-Affinity" value="True" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>