#header
{
  background: #fff;
  z-index: 1;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0;
  margin-bottom: 0;

  ._menu
  {
    background: $color_blue;
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
  }

  ._title
  {
    position: absolute;
    left: 200px;
    right: 100px;
    color: #000;
    font-size: 1.7em;
    font-weight: 400;
    text-align: center;
    top: 0;
  }
}