#header
{
  background: white;
  z-index: 1;
  border-bottom: 1px solid #f0f0f0;

  ._menu
  {
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
  }

  ._title
  {
    position: absolute;
    left: 200px;
    right: 100px;
    color: #000;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    top: 0;
  }
}