@import "../variables";

$menu_width: 220px;

#menu
{
  background: $color-menu-background;

  z-index: 1000;
  position: fixed;
  left: $menu_width;
  width: 0;
  height: 100%;
  margin-left: -$menu_width;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  ._user
  {
    background: url(/images/header-profile-skin-1.png) no-repeat;

    height: 150px;
    padding: 10px;

    img
    {
      display: inline-block;
      width: 64px;
      height: 64px;
      margin-top: 20px;
      background: white;
      border-radius: 4px;
    }

    .__link
    {
      color: white;
      margin-top: 10px;
      display: block;
    }
  }

  ._items
    {
      min-width: 200px;

      a
      {
        display: block;
        line-height: 40px;
        color: white;
        padding-left: 20px;
        text-decoration: none;

        &.active
        {
          background: $color-menu-highlight;
        }
      }
    }
}

#page-content
{
  padding: 15px;
}

.LoginController
{
  #menu
  {
    display: none;
  }

  #wrapper
  {
    padding-left: 0;
  }
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: $menu_width;
}

#menu {

}

#wrapper.toggled #menu {
  width: $menu_width;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -$menu_width;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $menu_width;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: $menu_width;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #menu {
    width: $menu_width;
  }

  #wrapper.toggled #menu {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}