@import "../variables";

.container-center
{
	margin:auto;
	max-width:400px;
}

#page
{
  position: relative;
  background-color:$kinoulink_background_light_gray;
  z-index: 5;
  min-height: 100%;
}

html, body
{
  height: 100%;
  min-height: 350px;
}

body {
  background-color:$bz_menu_background;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-x: hidden;
}

h1, h2, h3
 {
   font-weight: 400;
 }

h4, h5, h6, label
{
  font-weight: 300;
}

@media #{$information-phone-small}
{
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.heading
{
  min-height: 72px;
}

.section
{
  color: #fff;
  padding: 10px;
}

.section-action
{
  background:$kinoulink_background_green_transparent_color;
}