body.home
{
  #page:before
  {
    content: " ";
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: url(/images/bg2.jpg) no-repeat;
    background-size: cover;
  }

  .container
  {
    position: relative;
    color: #fff;
  }

  ._avatar_img
  {
    position: relative;
    z-index: 1;
  }

  ._avatar
  {
    background: rgba(255, 255, 255, 0.78);
    color: #333;
    border-radius: 4px;
    padding: 3px;
    margin: 5px;
    margin-top: -30px;
    padding-top: 30px;
    height: 170px;
    position: relative;

    span
    {
      display: block;
    }

    .btn
    {
      position: absolute;
      bottom: 5px;
      left:5px;
      right: 5px;
    }
  }

  .linkedin_contact_wrapper
  {
    background: rgba(246, 246, 245, 0.9);
    position: relative;

    .container
    {
      color: #333;
    }

    .close
    {
      margin: 10px;
      opacity: 0.7;
    }
  }

  .linkedin_contact
  {
    margin: 5px;
    padding-bottom: 5px;

    > td
    {
      padding-top: 10px;
    }

    .text-muted
    {
      font-size: 12px;
    }

    img
    {
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 10px;
      border-radius: 4px;
    }

    strong
    {
      display: block;
    }
  }
}