@import "../variables";

.notify-toast
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  max-width: 70%;
  z-index: 10;
}

@media (max-width:$screen-sm-min)
{
  .notify-toast
  {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left:20px;
    margin: 0;
    max-width: 100%;
  }

}