@import "../variables";

//colors
$color_wild_sand_approx: #f2f4f6;
$color_rum_approx: #736086;
$white: #fff;
$color_alto_approx: #ddd;
$color_green_approx: #00cc00;
$color_california_approx: #ff9900;
$color_scarpa_flow_approx: #5a4b68;
$color_spring_wood_approx: #f7f6f3;
$white_45: rgba(255, 255, 255, 0.45);
$color_mine_shaft_approx: #333;
$color_mountain_mist_approx: #999;
$color_java_approx: #0bbeaf;
$color_athens_gray_approx: #eceff2;
$color_silver_sand_approx: #c2c2c2;

.MessengerController {

  background: $color_wild_sand_approx;

  .__m
  {
    a
    {
      color: white;
      display: block;
      margin: 5px;
      background: $bz_menu_background_dark;
      padding-left: 10px;

      &:last-child
      {
        margin-bottom: 0;
      }
    }
  }

  .messenger_header {
    background: $bz_menu_background;
    padding: 5px;
    color: #fff;
    line-height: 35px;

    img {
      width: 32px;
      height: 33px;
      margin-right: 5px;
    }

  }
}

  .chat
  {
    color: $color_mine_shaft_approx;
    margin: 0 auto;
    padding: 1em .8em;
    padding-bottom: 100px;
    position: relative;
    z-index: 0;

    .text-embossed {
      margin-top: 100px;
    }

    ._message-notify
    {
      text-align: center;
      margin:10px;
      padding:5px;
      border-radius: 4px;
      font-weight: bold;

      &._type-declined
      {
        background: $kinoulink_background_red_color;
        color:#fff;
      }

      &._type-accepted
      {
        background: $kinoulink_background_green_logo;
        color:#fff;
      }
    }

    .__date
    {
      margin: 10px 0 !important;
      font-size: 14px;
      position: relative;

      span
      {
        background: $color_wild_sand_approx;
        position: relative;
        padding: 0 10px;
      }

      &:before
      {
        content: "";
        height: 1px;
        background: $kinoulink_timeline_bg;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
      }
    }

    dt {
      color: $color_mountain_mist_approx;
      font-size: .6em;
      margin-bottom: 1em;
      text-align: center;
    }
    dd {
      position: relative;
      z-index: 2;
      + {
        dt {
          margin-top: 1.5em;
          position: relative;
        }
        dd {
          margin-top: .5em;
        }
      }
      &:after {
        clear: both;
        content: " ";
        display: block;
        height: .1em;
      }
      &.from p:nth-child(1):before {
        border-bottom: 10px solid transparent;
        border-right: 10px solid #FFF;
        border-top: 10px solid transparent;
        content: "";
        left: -10px;
        position: absolute;
        top: 7px;
        z-index: 1;
      }
      &.to
      {
        .avatar
        {
          left:auto;
          right:0;
        }

        p {
          margin-right: 65px;
          border-radius: 4px;

          &:before {
            border-bottom: 10px solid transparent;
            border-left: 10px solid $color_java_approx;
            border-top: 10px solid transparent;
            content: "";
            position: absolute;
            right: -8px;
            top: 7px;
            z-index: 1;
          }
        }
      }
    }
    p {
      background-color: #FFF;
      float: left;
      margin-left: 65px;
      margin-right: 15%;
      padding: .45em .75em;
      position: relative;
      z-index: 2;
      img {
        padding: 5px 1px;
      }
      + p {
        clear: both;
        display: block;
      }
    }
    img.avatar {
      left: 0;
      max-width: 50px;
      position: absolute;
      top: -8px;
      z-index: 1;
    }
    .to p {
      background-color: $color_java_approx;
      color: #FFF;
      float: right;
      margin-left: 65px;
      margin-right: 15px;
    }
  }

  .message-input {
      background-color: #fff;
      padding: 10px;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
    box-shadow: 0 -2px 2px rgba(150,150,150,0.3);

    @media #{$information-tablet}
    {
      left: 21%;
    }

      input[type=text] {
        border: none;
        width: 100%;

        &:focus
        {
          outline: none;
        }
      }
      button
      {
        background: #fff;
        border: 0 none;
        color: rgb(70, 169, 255);
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 40px;
        width: 40px;

        &::before
        {
          content: " ";
          position: absolute;
          top: 10px;
          bottom: 10px;
          width: 1px;
          background: #E4E4E4;
          left: 0;
        }
      }
    }