body.kinoulinkProposalController
{
  h4
  {
    &.text-embossed
    {
      text-align: left;
      font-size: 18px;
      margin-top: 20px;
    }
  }

  .__trash
  {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 20px;
    margin-top: -14px;
  }

  .book-contact {
    .__t {
      color: #333;
    }

    &:hover
    {
      text-decoration: none;
    }
  }

  .book-group
  {
    color:#333 !important;
  }

}