<div class="container">
    <div class="panel-form">
        <h3>A propos de kinoulink</h3>

        <p>
            kinoulink est une start-up proposant un service de mise en relation pour
            les professionnels afin d’optimiser les pauses en développant son
            réseau.
        </p>

        <p>
            kinoulink permet de mettre en  relation différents utilisateurs afin qu’ils se
            rencontrent spontanément ou sur une prise de rendez-vous,  pour un
            déjeuner ou un café business convivial!
        </p>

        <p>
            Le service de géolocalisation de l’application permet une identification
            instantanée des utilisateurs, des restaurants et café.
            <br/>Actuellement en phase test sur l’aire Marseillaise via un site web
            responsive, nous serons à l’écoute des premiers testeurs  concernant les
            bugs et les améliorations à envisager via l’adresse contact@kinoulink.fr
        </p>

        <p>
            Rencontrer de nouveaux contacts professionnels, échanger des
            compétences, développer son réseau, créer du lien, générer de
            nouvelles opportunités business, ne plus manger seul … Utilisez
            kinoulink !
            <br/>
            Vous pourrez rencontrer les autres kinoulinkeurs le matin, le midi , le soir
            , pendant une pause cigarette, autour d'une repas, d'un café … Avec
            kinoulink, c 'est vous qui décidez !
        </p>

        <p>

        <h3>Les 5 règles essentielles :</h3>

        <ul>
            <li>« Convivialité »</li>
            <li>Chacun paie sa part de l'addition, « les bons comptes font les bons amis »</li>
            <li>En cas d'empêchement, pensez à prévenir l’autre ou les autres participants  le plus tôt possible</li>
            <li>Dans le cas où vous seriez plusieurs, prenez l’initiative de réserver, en effet kinoulink ne gère pas encore la réservation en ligne</li>
            <li>Soyez ponctuel ! Chaque participant est également un professionnel avec un emploi du temps à respecter.</li>
        </ul>
         
        <p>
            kinoulink est très vigilant concernant la fiabilité de ses membres et se
            réserve le droit de supprimer tout profil ne correspondant pas aux
            critères suivants: faux profils, adresses mails erronées, intentions
            incorrectes …
        </p>
         

        <h3>Comment kinoulinker ?</h3>

       <p>
            Rendez-vous sur www.kinoulink.fr et accédez à « mon espace kinoulink » Autorisez kinoulink à utiliser votre position actuelle afin d’être identifié sur
            la carte avec les autres utilisateurs. Vous pouvez à tout moment modifier
            vos informations dans « mon profil »
        </p>
         
        <p>
            Après avoir sélectionné et visité le profil d’un kinoulinkeur, utilisez l’icône
            B afin d’inviter la personne à kinoulinker.
            <br />
            La personne sera informée par une alerte mail et une invitation dans
            l’onglet «invitation » du menu. Elle pourra accepter ou décliner
            l’invitation et/ou vous contacter via la messagerie.
        </p>

        <h3>Support</h3>

        <p>
            <a class="btn btn-primary" target="_blank" href="http://support.kinoulink.fr">support.kinoulink.fr</a>
        </p>
         

        Bon kinoulink !
    </div>
</div>
<style>
    p {text-align: justify}
</style>