<div my-breadcrumb="{{ [{'title' : 'Calendriers', 'link' : '/calendar'}, {'title' : calendar.title}] }}"></div>

<div class="row calendar_day">

    <div class="col-sm-8">
        <div class="panel">

            <h3>Journée type</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Horaires</th>
                        <th>Playlists</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hour in hours">
                        <td>{{ hour.title }}</td>
                        <td ng-click="clickOnDay(day, hour)">
                            <ul class="_playlists _day" dnd-list="calendarPlaylistsByHours[hour.id]"
                                dnd-dragover="dragoverCallback(event, index, external, type)"
                                dnd-effect-allowed="copyMove"
                                dnd-drop="dropCallback(event, item, hour.id, index)"
                                >
                                <li class="_playlist" ng-repeat="item in calendarPlaylistsByHours[hour.id]" style="background: {{ item.playlist.color }}"
                                    dnd-draggable="item"
                                    dnd-effect-allowed="move"
                                    dnd-moved="dndMoved(item)">
                                    {{ item.playlist.title }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel">
            <h3>Playlists disponibles</h3>
            <ul class="_playlists clearfix">
                <li href="#" ng-repeat="item in playlists" dnd-draggable="item" dnd-effect-allowed="copy" style="background: {{ item.color }}">
                    {{ item.title }}
                </li>
            </ul>
        </div>
        <br />
        <div class="panel" dnd-list="basketList">
            <h3>Suppression</h3>
            <br /><br />
        </div>
    </div>

</div>




<div ng-show="showPlaylistPicker" class="modal-backdrop" ng-click="showPlaylistPicker=false">
    <div ng-show="showPlaylistPicker"  class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog"  ng-click="$event.stopPropagation();">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showPlaylistPicker=false"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ajouter une Playlist</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="addPlaylist()">

                        <div class="row">
                            <div class="col-sm-4">
                                <label for="inputTime">Heure début</label>
                            </div>
                            <div class="col-sm-6">
                                <select id="inputTime" name="time" ng-model="newPlaylist.time" class="form-control">
                                    <option ng-repeat="hour in hours" value="{{ hour.id }}">{{ hour.title }}</option>
                                </select>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-sm-4">
                                <label>Playlist</label>
                            </div>
                            <div class="col-sm-6">
                                <div class="list-group">
                                    <button ng-repeat="item in playlists" ng-click="newPlaylist.playlist = item" class="list-group-item">
                                        {{ item.title }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <br />

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showPlaylistPicker=false">Annuler</button>
                    <button type="button" class="btn btn-primary" ng-click="addPlaylist()">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>