<header>
    <h1>Mes Calendiers</h1>
</header>

<div class="container">

    <div ng-show="calendars.length == 0" class="alert alert-info">
        Pas encore de Calendriers ;-(
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Intitulé</th>
            <th>Médias</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr ng-repeat="calendar in calendars">
            <td>{{calendar.title}}</td>
            <td>4 média</td>
            <td><a class="btn btn-primary" ng-href="#/calendar/{{ calendar.id }}">Ouvrir</a></td>
        </tr>
    </table>

    <hr />

    <h2>Un nouveau calendrier ?</h2>

    <form class="panel-form" ng-submit="create()">

        <div class="row">
            <div class="col-sm-6">
                <input ng-model="calendarNew.title" type="text" placeholder="Code" class="form-control" />
            </div>
            <div class="col-sm-6">
                <br class="visible-xs" />
                <input type="submit" class="btn btn-success" />
            </div>
        </div>

    </form>


</div>
