<header>
    <h1>Mon Calendier</h1>
</header>

<div class="container">

    <div class="btn-group">
        <button class="btn btn-success" ng-click="changeView('agendaDay')">AgendaDay</button>
        <button class="btn btn-success" ng-click="changeView('agendaWeek')">AgendaWeek</button>
        <button class="btn btn-success" ng-click="changeView('month')">Month</button>
    </div>

    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" class="calendar"></div>

</div>
