<div my-breadcrumb="{{ [{'title' : 'KTV', 'link' : '/devices'}] }}"></div>

<h2>Mes KTVs</h2>

<div class="panel">

    <table class="table">

        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Création</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tr ng-repeat="device in devices">
            <td>{{ device.title }}</td>
            <td><i class="fa fa-clock-o"></i> {{ device.createdAt | formatDateVerbose }}</td>
            <td>
                <a ng-href="#/device/{{ device.id }}" class="btn btn-info">Ouvrir</a>
                <a ng-href="#/calendar/{{ device.id }}" class="btn btn-info">Calendrier</a>
            </td>
        </tr>

    </table>

</div>

<hr />

<h2>Un nouveau boîtier ?</h2>

<div class="panel">

    <form class="panel-form" ng-submit="add()">

        <div class="row">
            <div class="col-sm-4">
                <label for="inputSerial">Code secret</label>
            </div>
            <div class="col-sm-6">
                <input id="inputSerial" name="serial" ng-model="deviceNew.token" type="text" class="form-control" />
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-sm-4">
                <label for="inputTitle">Intitulé</label>
            </div>
            <div class="col-sm-6">
                <input id="inputTitle" name="title" ng-model="deviceNew.title" type="text" class="form-control" />
            </div>
        </div>

        <br />

        <div class="col-sm-6 col-sm-offset-4">
            <br class="visible-xs" />
            <input type="submit" class="btn btn-success" />
        </div>

        <br />

        <div class="alert alert-danger" ng-show="error != ''">{{ error }}</div>

    </form>


</div>
