<header>
    <h1>Ma KinouTV {{ device.token }}</h1>
</header>

<div class="container">

    <h3>Ajouter un média</h3>

    <div class="panel-form">

        <div ng-show="medias.length == 0">
            <div class="alert alert-info">
                Pas de média dans votre bibliothèque ;-(
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Intitulé
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="media in medias">
                    <td>{{ media.data.name }}</td>
                    <td class="text-right">
                        <a ng-click="addMedia(media)" class="btn btn-success">Ajouter</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
