<div my-breadcrumb="{{ [{'title' : 'KTV', 'link' : '/devices'}, {'title' : device.title}] }}"></div>

<div class="container">

    <h3>{{ device.title }}</h3>

    <div class="panel">

        <div class="clearfix">
            <a class="pull-right" title="Editer" ng-click="edition = !edition"><i class="fa fa-pencil"></i></a>
        </div>

        <br />

        <table class="table">
            <tr>
                <td>Intitulé</td>
                <td ng-hide="edition">{{ device.title }}</td>
                <td ng-show="edition"><input type="text" ng-model="device.title" /></td>
            </tr>
            <tr>
                <td>Calendrier</td>
                <td  ng-hide="edition">
                    <a class="btn btn-link" href="#/calendar/{{ device.calendar }}">{{ device.calendar.title }}</a>
                </td>
                <td ng-show="edition"><input type="text" ng-model="device.title" /></td>
            </tr>
            <tr>
                <td>Créé le</td>
                <td>{{ device.createdAt | formatDateVerbose }}</td>
            </tr>
            <tr>
                <td>Vue le</td>
                <td>{{ device.updatedAt | formatDateVerbose }}</td>
            </tr>
        </table>

    </div>

    <h3>Actions</h3>

    <div class="panel">

        <div class="row">

            <div class="col-sm-3">
                <a class="btn btn-danger btn-block" ng-click="sendAction('off')">Eteindre l'écran</a>
                <br class="visible-xs" />
            </div>

            <div class="col-sm-3">
                <a class="btn btn-success btn-block" ng-click="sendAction('on')">Allumer l'écran</a>
                <br class="visible-xs" />
            </div>

            <div class="col-sm-3">
                <a class="btn btn-default btn-block" ng-click="sendAction('action3')">Action 3</a>
                <br class="visible-xs" />
            </div>

            <div class="col-sm-3">
                <a class="btn btn-default btn-block" ng-click="sendAction('action4')">Action 4</a>
            </div>

        </div>

        <hr />

        <table class="table">
            <thead>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Date
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="instruction in device.instructions | orderBy : '-timestamp'">
                <td>{{ instruction.action }}</td>
                <td>{{ instruction.timestamp | momentVerbose }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <h3>Modifier</h3>

    <div class="panel-form">

        <a class="btn btn-danger" ng-click="detach()">Enlever la KinouTV</a>

    </div>

    <br />

</div>
