<header>
    <h1>Ma KTV "{{ device.title }}"</h1>
</header>

<div class="container">

    <h3>Calendrier - Playlist</h3>

    <div class="panel-form">

        <a class="btn btn-primary" href="#/calendar/{{ device.calendar }}">Voir le calendrier</a>

        <hr />

    </div>

    <h3>Actions</h3>

    <div class="panel-form">

        <div class="row">

            <div class="col-sm-3">
                <a class="btn btn-danger btn-block" ng-click="sendAction('off')">Eteindre l'écran</a>
                <br class="visible-xs" />
            </div>

            <div class="col-sm-3">
                <a class="btn btn-success btn-block" ng-click="sendAction('on')">Allumer l'écran</a>
                <br class="visible-xs" />
            </div>

            <div class="col-sm-3">
                <a class="btn btn-default btn-block" ng-click="sendAction('action3')">Action 3</a>
                <br class="visible-xs" />
            </div>

            <div class="col-sm-3">
                <a class="btn btn-default btn-block" ng-click="sendAction('action4')">Action 4</a>
            </div>

        </div>

        <hr />

        <table class="table">
            <thead>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    Date
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="instruction in device.instructions | orderBy : '-timestamp'">
                <td>{{ instruction.action }}</td>
                <td>{{ instruction.timestamp | momentVerbose }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <h3>Modifier</h3>

    <div class="panel-form">

        <a class="btn btn-danger" ng-click="detach()">Enlever la KinouTV</a>

    </div>

    <br />

</div>
