<div class="container">
   <h2 class="clearfix">
       Messagerie
       <small class="pull-right">
           <span class="label label-danger" ng-hide="$root.messenger_connected">Non connecté</span>
           <span class="label label-success" ng-show="$root.messenger_connected">Connecté</span>
       </small>
   </h2>

    <div ng-class="{'panel-form' : true, 'play-fx' : playFx}">
        <bz-loader class="block full" ng-show="loading"></bz-loader>
        <div ng-show="threads !== null && threads.length === 0">
            <h4><i class="fa fa-exclamation-triangle text-warning"></i> Pas encore de conversations ?</h4>
            <p>Cherchez des kinoulinkers sur l'écran d'accueil, et invitez les à une discussion.</p>
        </div>
        <div ng-repeat="thread in threads">
            <a class="inbox-thread clearfix" ng-href="{{thread.url}}">
                <div class="_col1">
                    <img ng-src="{{thread.avatar}}" />
                    <span class="__n fx" ng-show="thread.unread > 0">{{thread.unread}}</span>
                </div>
                <div class="_col2">
                    {{thread.title}}
                    <br />
                    <span class="text-muted">{{thread.last_message.content}}</span>
                </div>
                <div class="_col3">
                    <span class="label label-info"><i class="fa fa-clock-o"></i> {{thread.date.update | moment}}</span>
                </div>
            </a>
        </div>
    </div>

</div>