<div class="container">
    <div class="container-center-lg">

        <h3>Informations</h3>

        <form class="form-horizontal panel-form" ng-submit="submitDetails()">
            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="inputFirstname">Prénom <i class="required"></i></label>

                <div class="col-sm-10 col-md-9">
                    <input type="text" ng-model="user.name.first" class="form-control" id="inputFirstname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label" for="inputLastname">Nom <i class="required"></i></label>

                <div class="col-sm-10 col-md-9">
                    <input type="text" ng-model="user.name.last" class="form-control" id="inputLastname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-2 control-label">Type d'affichage</label>

                <div class="col-sm-10 col-md-9">
                    <label><input type="radio" name="pseudo" value="a" ng-model="user.name.mode"/>
                        {{pseudo_type.a}}</label>
                    <label><input type="radio" name="pseudo" value="b" ng-model="user.name.mode"/>
                        {{pseudo_type.b}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-3 control-label" for="inputEmail">Adresse eMail <i class="required"></i></label>

                <div class="col-sm-10 col-md-9">
                    <input type="text" ng-model="user.email" class="form-control" id="inputEmail">
                    <span class="text-muted">(Votre adresse eMail ne sera jamais affichée ou transmise)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-3 control-label" for="inputJob">Profession <i class="required"></i></label>

                <div class="col-sm-10 col-md-9">
                    <input type="text" ng-model="user.job" class="form-control" id="inputJob">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-3 control-label" for="inputSector">Secteur d'activité ou
                    entreprise <i class="required"></i></label>

                <div class="col-sm-10 col-md-9">
                    <input type="text" ng-model="user.sector" class="form-control" id="inputSector">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-3 control-label" for="inputAge">Age</label>

                <div class="col-sm-10 col-md-9">
                    <input type="text" ng-model="user.age" class="form-control" id="inputAge">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-3 control-label" for="inputCity">Ville</label>

                <div class="col-sm-10 col-md-9">
                    <input type="text" ng-model="user.city" class="form-control" id="inputCity">
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success" type="submit">Enregistrer</button>
            </div>
        </form>

        </div>

        <h3>Facturation</h3>

        <div class="panel-form">
            <p class="text-muted">Facturation ...</p>
        </div>

        <br/>
        <br/>

    </div>
</div>