<header>
    <h1>Mes Média</h1>
</header>

<section class="container">

    <form ng-submit="add()" class="panel-form">

        <h2>Un nouveau média ?</h2>

        <button ngf-select="onFileSelect($files)" class="btn btn-success">Sélectionner une vidéo ou photo ..
        </button>

        <hr />

        <div class="clearfix text-center">
            <div class="progress" ng-show="uploadProgress > 0">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                     ng-style="{ 'width' : uploadProgress + '%' }">
                    <span class="sr-only">{{uploadProgress}}% Complete</span>
                </div>
            </div>
        </div>

    </form>

    <div ng-class="{'panel-form' : true, 'loading' : loading }">
        <div class="alert alert-info" ng-show="medias.length == 0">
            Vous n'avez pas encore téléchargé de photos ou vidéos!
        </div>

        <div class="row media-listing">
            <div class="col-sm-6 col-md-4" ng-repeat="media in medias">
                <div class="thumbnail">
                    <img ng-src="{{ media.thumbnail }}">
                    <div class="caption">
                        <p>{{ media.data.name }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
