<div class="messenger_header clearfix">
    <img ng-src="{{ conversation.avatar }}" />{{conversation.title}}
    <a href="javascript:void(0)" ng-click="menu=!menu" class="btn btn-white pull-right"><i ng-class="{fa : true, 'fa-chevron-down' : !menu, 'fa-chevron-up' : menu}"></i></a>
    <div class="__m" ng-show="menu">
        <a><i class="fa fa-plus-circle"></i> Ajouter une personne</a>
        <a ng-repeat="user in thread.users | filter:notMe" ng-href="/#/u/{{user.id}}"><i class="fa fa-user"></i> Voir le profile de {{user.title}}</a>
        <a href="javascript:void(0)" ng-click="doTrash()"><i class="fa fa-trash-o"></i> Quitter la conversation</a>
    </div>
</div>
<div bz-kinoulink-messenger bz-thread="thread" bz-on-thread="onThread(thread)"></div>
<bz-loader class="block full" ng-show="loading"></bz-loader>