<div my-breadcrumb="{{ [{'title' : 'Playlist', 'link' : '/playlist'}] }}"></div>

<div ng-show="playlists.length == 0" class="alert alert-info">
    Pas encore de playlist ;-(
</div>

<div class="panel">

    <table class="table">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Auteur</th>
                <th>Médias</th>
                <th>Date modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr ng-repeat="playlist in playlists">
            <td><span class="circle" style="background: {{ playlist.color }};"></span> {{playlist.title}}</td>
            <td>{{playlist.user.name}}</td>
            <td>{{ playlist.medias }} média</td>
            <td><i class="fa fa-clock-o"></i> {{ playlist.updatedAt | formatDateVerbose }}</td>
            <td><a class="btn btn-primary" ng-href="#/playlist/{{ playlist.id }}">Ouvrir</a></td>
        </tr>
    </table>

</div>

<div class="container">

    <h2>Une nouvelle playlist ?</h2>

    <div class="alert alert-danger" ng-show="error">{{ error }}</div>

    <div class="panel">

        <form class="panel-form" ng-submit="add()">

            <div class="row">
                <div class="col-sm-6">
                    <input ng-model="playlistNew.title" type="text" placeholder="Nom" class="form-control" />
                    <br />
                    <label>Couleur: <span class="circle" style="background: {{ playlistNew.color }};"></span></label>
                </div>
                <div class="col-sm-6">
                    <br class="visible-xs" />
                    <input type="submit" class="btn btn-success" />
                </div>
            </div>

        </form>

    </div>

</div>
