#page-content h2, #page-content h3, #page-content h4 {
  color: #E36A66;
  text-align: center;
  font-weight: 200;
}

#header {
  background: #f0f0f0;
  z-index: 1;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0;
  margin-bottom: 0;
}
#header ._menu {
  background: #0e9aef;
  display: inline-block;
  text-align: center;
  font-size: 1.4em;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}
#header ._title {
  position: absolute;
  left: 200px;
  right: 100px;
  color: #000;
  font-size: 1.7em;
  font-weight: 400;
  text-align: center;
  top: 0;
}

.LoginController nav#menu > *, .LoginController #header-left-button, .LoginController #header-right-button, .RegisterController nav#menu > *, .RegisterController #header-left-button, .RegisterController #header-right-button, .ForgotPassword nav#menu > *, .ForgotPassword #header-left-button, .ForgotPassword #header-right-button, .NumberController nav#menu > *, .NumberController #header-left-button, .NumberController #header-right-button {
  display: none !important;
}

.LoginController .header, .RegisterController .header, .ForgotPassword .header, .MeProfileController .header, .NumberController .header {
  background: #808080;
  padding: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}
.LoginController .header img, .RegisterController .header img, .ForgotPassword .header img, .MeProfileController .header img, .NumberController .header img {
  height: 28px;
  vertical-align: baseline;
}
.LoginController form, .RegisterController form, .ForgotPassword form, .MeProfileController form, .NumberController form {
  position: relative;
}
.LoginController form label, .RegisterController form label, .ForgotPassword form label, .MeProfileController form label, .NumberController form label {
  font-style: none;
}
.LoginController form .__t, .RegisterController form .__t, .ForgotPassword form .__t, .MeProfileController form .__t, .NumberController form .__t {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  text-align: center;
}
.LoginController form .__t span, .RegisterController form .__t span, .ForgotPassword form .__t span, .MeProfileController form .__t span, .NumberController form .__t span {
  font-size: 18px;
  background: #cfcfcf;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #000;
}
.LoginController form .__s, .RegisterController form .__s, .ForgotPassword form .__s, .MeProfileController form .__s, .NumberController form .__s {
  margin-top: 15px;
}
.LoginController.fx-delay #page::after, .RegisterController.fx-delay #page::after, .ForgotPassword.fx-delay #page::after, .MeProfileController.fx-delay #page::after, .NumberController.fx-delay #page::after {
  opacity: 0.6;
}
.LoginController.fx-delay .panel-form, .RegisterController.fx-delay .panel-form, .ForgotPassword.fx-delay .panel-form, .MeProfileController.fx-delay .panel-form, .NumberController.fx-delay .panel-form {
  top: 0 !important;
}

html.focus #page {
  padding-top: 20px;
  background: none;
}

@media (max-width: 400px) {
  body.RegisterController h3 {
    font-size: 22px;
  }
}

.media-listing .thumbnail {
  width: 30%;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}
.media-listing .thumbnail img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.media-listing .thumbnail .caption {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px;
}

#menu {
  background: #3A4459;
  z-index: 1000;
  position: fixed;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#menu ._user {
  background: url(/images/header-profile-skin-1.png) no-repeat;
  height: 150px;
  padding: 10px;
}
#menu ._user img {
  display: inline-block;
  width: 40px;
  height: 40px;
}
#menu ._items {
  min-width: 200px;
}
#menu ._items a {
  display: block;
  line-height: 40px;
  color: white;
  padding-left: 20px;
  text-decoration: none;
}
#menu ._items a.active {
  background: #DB3A31;
}

#page-content {
  padding: 15px;
}

.LoginController #menu {
  display: none;
}
.LoginController #wrapper {
  padding-left: 0;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#wrapper.toggled #menu {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 220px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #menu {
    width: 220px;
  }

  #wrapper.toggled #menu {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.device-list-item {
  border: 1px solid #D1D1D2;
  padding: 5px;
  text-align: center;
  width: 100px;
  display: inline-block;
  background: #fff;
  margin-right: 5px;
}
.device-list-item i {
  font-size: 3em;
}
.device-list-item:hover {
  border: 1px solid rgba(11, 181, 140, 0.8);
  color: rgba(11, 181, 140, 0.8);
  cursor: pointer;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Light-webfont.eot");
  src: url("/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Light-webfont.woff") format("woff"), url("/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("/fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: 200;
  font-style: normal;
}
html.loading {
  height: 100%;
}
html.loading body {
  height: 100%;
  background: #303843;
  padding: 0 !important;
}
html.loading #page {
  background: none;
  text-align: center;
}
html.loading #page .__l {
  /* background: url(/images/logo-splash.png) no-repeat 50% 50%;
   background-size: 177px 201px;*/
  width: 177px;
  height: 201px;
  min-height: 300px;
  margin: auto;
}
html.loading header#header, html.loading nav#menu {
  display: none !important;
}
html.loading .hide-loading {
  display: none;
}
html.loading bz-loader path {
  fill: #ddd;
}

.div-loading {
  background: #fff url(/images/loader.gif) no-repeat 50% 50%;
  background-size: 32px 32px;
  min-height: 100px;
}

.panel-form .div-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.panel-form.loading, form.loading .panel-form {
  position: relative;
}
.panel-form.loading::after, form.loading .panel-form::after {
  content: " ";
  background: rgba(255, 255, 255, 0.8) url(/images/loader.gif) no-repeat 50% 50%;
  background-size: 32px 32px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
}

@media (min-width: 768px) {
  html.loading #page {
    background-position: 33% 50%;
  }
}
bz-loader.block {
  display: block;
  text-align: center;
}
bz-loader.full {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -55px;
  margin-top: -32px;
}
bz-loader path {
  fill: #1596D4;
}

/*# sourceMappingURL=app.css.map */
