<div class="container">
    <div class="container-center-lg">

        <h3>Lancer une invitation</h3>

        <div ng-class="{'form-horizontal' : 1, loading : loading}">

            <h4 class="text-embossed"><i class="fa fa-users"></i> Invités</h4>

            <div class="panel-form">

                <div class="clearfix">

                    <div class="list-item2" ng-repeat="recipient in recipients">
                        <img ng-src="{{recipient.avatar.small}}" />
                        <span>{{recipient.title}}</span>
                        <a class="close" ng-click="removeRecipient($index)"><i class="fa fa-times"></i></a>
                    </div>

                </div>

                <div ng-show="state_recipient==2">
                    <div class="clearfix">
                        <h4 class="pull-left">Ajouter un invité</h4>
                        <a class="pull-right" ng-click="state_recipient=1"><i class="fa fa-times"></i></a>
                    </div>

                    <form ng-submit="searchUsers()" class="__search">
                        <input id="kinoulinkCreateSearchUserInput" type="text" class="form-control" placeholder="Rechercher un kinoulinker" ng-model="search_users">
                        <div class="clearfix" style="margin-top:5px">
                            <input type="submit" class="btn btn-primary pull-right" value="Rechercher" />
                        </div>
                    </form>

                    <a ng-repeat="item in search_users_results" ng-click="onUserClick(item)" class="book-contact clearfix">
                        <img ng-src="{{item.avatar}}" />
                        <span class="__t">{{item.title}}</span>
                        <span class="__st">{{item.job}} {{item.sector}}</span>
                    </a>
                </div>

                <div class="text-center" ng-show="state_recipient==1">
                    <a class="btn-block btn btn-link" ng-click="state_recipient=2">Ajouter un invité</a>
                </div>
            </div>

            <h4 class="text-embossed"><i class="fa fa-clock-o"></i> Quand</h4>
            <div class="panel-form">
                <div class="row">
                    <div class="col-xs-6">
                        <select ng-model="proposal_date" class="form-control" id="inputDate" ng-options="date.label for date in date_options"></select>
                    </div>
                    <div class="col-xs-6">
                        <select ng-model="proposal_time" class="form-control" id="inputTime" ng-options="time.label for time in time_options"></select>
                    </div>
                </div>
            </div>

            <h4 class="text-embossed"><i class="fa fa-map-marker"></i> Lieu</h4>
            <div class="panel-form">
                <div class="text-center" ng-show="state_place == 1 && place == null">
                    <a class="btn-block btn btn-link" ng-click="state_place=2">Indiquer un lieu</a>
                </div>
                <div class="clearfix" ng-show="state_place==2">
                    <h4 class="pull-left">Indiquer un lieu</h4>
                    <a class="pull-right" ng-click="state_place=1"><i class="fa fa-times"></i></a>
                </div>
                <div ng-show="state_place == 1 && place != null">
                    <div>{{place.title}}</div>
                    <div class="text-muted">{{place.status}}</div>
                    <a title="Effacer" class="btn-link __trash" ng-click="place=null"><i class="fa fa-trash-o"></i></a>
                </div>
                <div bz-restaurants-book ng-show="state_place==2"></div>
            </div>

            <h4 class="text-embossed"><i class="fa fa-comment"></i> Message</h4>
            <div class="panel-form">
                <div>
                    <textarea class="minimal" ng-model="message" placeholder="Ajoutez un message"></textarea>
                </div>
            </div>
            <br />
            <div class="form-actions row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-9">
                    <button class="btn btn-block btn-success" ng-click="submitDetails()">Enregistrer</button>
                </div>
            </div>
            <br />
        </div>

    </div>
</div>