<div class="ui-tabs top x3">
    <button ng-class="{active : state_view == 1}" ng-click="state_view=1">En cours</button>
    <button ng-class="{active : state_view == 2}" ng-click="state_view=2">En attente</button>
    <button ng-class="{active : state_view == 3}" ng-click="state_view=3">Passées</button>
</div>

<div class="container">

    <bz-loader class="block full" ng-show="loading"></bz-loader>

    <div ng-show="!loading && state_view==1">

        <div class="text-center gap-v-1">
            <a ng-href="#/kinoulink/new" class="btn btn-primary">Créer une nouvelle invitation</a>
        </div>

        <h3>Nouvelles invitations ({{invitations_news.length}})</h3>

        <div class="panel-form" ng-show="invitations_news !== null && invitations_news.length === 0">
            <h4><i class="fa fa-exclamation-triangle text-warning"></i> Pas encore d'invitations ?</h4>
            <p>Cherchez des kinoulinkers sur l'écran d'accueil, et invitez les à une discussion.</p>
        </div>

        <div bz-invitations-received="invitations_news" class="__timeline"></div>

        <h3>Mes prochains kinoulink's ({{invitations_accepted.length}})</h3>

        <div bz-invitations-received="invitations_accepted" class="__timeline"></div>

    </div>

    <div ng-show="!loading && state_view==2">

        <h3>Invitations en attente ({{invitations_sent.length}})</h3>

        <div ng-show="invitations_sent !== null && invitations_sent.length === 0">
            <h4><i class="fa fa-exclamation-triangle text-warning"></i> Pas encore d'invitations ?</h4>
            <p>Cherchez des kinoulinkers sur l'écran d'accueil, et invitez les à une discussion.</p>
        </div>

        <div bz-invitations-received="invitations_sent" class="__timeline"></div>

        <h3>Invitations déclinées ({{invitations_declined.length}})</h3>

        <div bz-invitations-received="invitations_declined" class="__timeline"></div>

    </div>

    <div ng-show="state_view==3">

        <h3>Invitations passées ({{invitations_past.length}})</h3>

        <div bz-invitations-received="invitations_past" class="__timeline"></div>

    </div>

</div>